@charset "utf-8";
/* basic cross-page styling below, like body width
footer etc. */
/* CSS Reset */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* navigation bar styling below */

/* Styles for screens smaller than 320px (Mobile) DEFAULT*/
/* Add your mobile-specific styles here */

.nav-wrapper{
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(231, 221, 205, 0.041);
}
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
}

.nav-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  text-align: center;
  align-content: center;
  display: none;
  color: white;
}
.nav-item_special {
  display: flex;
  align-items: center;
        text-transform: uppercase;
        color: white;
}

.show .nav-list {
  display: block;
}

    .nav-link{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

    .active-page {
        color: dimgrey;
    }
      
    .logo{
        height: 5rem;
    }
  
  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .nav-list{
        display: contents;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .nav-item_special{
        display: none;
    }
    .nav-top{
        display: inline;
        
    }

    .active-page {
        background-color: crimson;
        color: blanchedalmond;
    }

  }
  
  /* Styles for screens larger than or equal to 1200px (Desktop) */
  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    .nav-list{
        display: flex;
    }
  }

/* index page styling below */

.index-body{
  background-color: black;
}

.index-wrapper{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../images/lush.jpg);
    background-size: cover;
    background-position: center center;
   
}

.hero-container{
    height: 100vh;
    padding: 1rem;
}
.hero-index{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    gap: 1rem;
    
}


.hero-title{
    text-align: left;
    align-items: center;
    color: white;
    font-size: 2rem;
}


.hero-text{
    width: 60%;
}

.hero-tablet{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-tabletLEFT{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.destination-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.hero-items{
    display: flex;
    flex-direction: column;
}

.hero-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: flex-start;
  gap: 1rem;
}
.hero-button1{
width: 8rem;
height: 2rem;
background-color: rgb(162, 220, 235);
border-radius: 10px;
border: 0;
}

.hero-button1:hover {
  background-color: rgb(142, 200, 215);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


.hero-button2{
    width: 2rem;
    height: 2rem; 
}

.hero-social{
    display: flex;
    gap: 0.5rem;
    align-self: flex-start;
}
.hero-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.hero-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}


.hero-paragraph{
    width: 80%;
    display: flex;
    align-self: flex-start;
}
.hero-smallText{
    color: white;
    font-size: 0.95rem;
    padding: 1rem;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}
.hero-countdown{
    background-color: rgba(0, 0, 0, 0.20);
    text-align: center;
    border-radius: 5px;
}

.hero-countText{
    color: white;
    font-size: 1.5rem;
    
}

.recommend-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.20);
}

.recommend-paragraph{
    width: 65%;
    font-size: 0.8rem;
    color: white;
   
}

.recommend-title{
    color: white;
    font-size: 1rem;
    width: 40%;
   
}
.destination-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.destination-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.img-ocean{
    width: 90%;
    height: 15rem;
   border-radius: 5px;
}

.spotify-container{
    width: 90%;
  
}
.review-title-small{
  color: white;
  text-align: center;
}

.testimonials-container {
  background-color:rgba(151, 207, 230, 0.466); 
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem;
  width: 100%;
}

.testimonial-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.testimonial-card{
  display: flex;
  
  gap: 20px;
  padding-bottom: 0.5rem;
}

.testimonial-quote{
  margin: 0;
  width: 85%;
}

.testimonial-bottom{
  display: flex;
gap: 2rem;
justify-content: flex-end;
}

.date{
  text-align: right;
}

.testimonial-star{
  width: 1rem;
  height: 1rem;
}



  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    /* HERO */
    .hero-title{
   font-size: 3rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .hero-items{
      display: flex;
      align-self: flex-start;
      width: 45%;
    }

    /* HERO-BUTTONS */
    .hero-buttons{
        justify-content: flex-start;
    }

    .hero-icon{
        width: 2.5rem;
        height: 2.5rem;
    }

    /* HERO PARAGRAPH */
    .hero-paragraph{
        width: 90%;
    }
    .hero-smallText{
        font-size: 1.2rem;
        font-style: italic;
        padding: 1rem;
    }

    .hero-tablet{
    flex-direction: row;
    }
    .hero-tabletLEFT{
        width: 100%;
    }

    .hero-tabletRIGHT{
        width: 100%;
    }

    /* HERO RECOMMEND */

    .recommend-container{
        align-items: baseline;
        gap: 3rem;
    }
    .recommend-title{
        font-size: 2.5rem;
    }


  /* HERO COUNTER */

  .hero-countdown{
    width: 100%;
  }
  .hero-countText{
    font-size: 2rem;
  }

  .recommend-paragraph{
    font-size: medium;
  }

     /* TESTIMONIALS */
     .testimonials-container{
      width: 50%;
    }
  }
 






@media (min-width: 1200px) {
  /* Add your desktop-specific styles here */
}

/* about page styling below */

/* Styles for screens smaller than 320px (Mobile) DEFAULT*/
/* Add your mobile-specific styles here */

.about-body {
  background-color: black;
}

main .about-main {
    padding: 20px;
    margin-bottom: 20px;
}

.about-main article {
    margin: 0 auto;
}

.about-main .hero {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero::before{
  background-image: linear-gradient(to top, transparent, black);
  content: " ";
  display: block;
  height: 25px;
  top: 0px;
  position: absolute;
  width: 100%;
}

.hero::after{
  background-image: linear-gradient(to bottom, transparent, black);
  content: " ";
  display: block;
  height: 25px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.hero h2 {
    text-align: center;
    font-size: 2.2em;
    color: white;
    margin: 0;
    -webkit-text-stroke: 0.7px black;
}

.hero-p {
    text-align: center;
    font-size: 1em;
    max-width: 70%;
    margin: 1em auto;
    color: white;
    padding-bottom: 1em;
}

.teasers {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.teasers h2 {
    text-align: center;
    font-size: 1.4em;
    margin: 0.7em 0;
}

.teasers p {
    text-align: center;
    margin: 0em 1em;
    font-size: 1em;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.image-container:hover .image-text {
  opacity: 1;
}

.teasers img {
    display: block;
    max-height: 20em;
    margin: 0 auto;
    border-radius: 1em;
}

.specifics {
  padding-top: 2em;
  text-align: center;
  display: grid;
  flex-direction: column;
  row-gap: 2em;
  width: 100%;
  margin: 0 auto;
}

.specifics h2 {
  color: white;
  font-size: 1.7em;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.specific-grid {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.specific-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  width: 30%;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 10px 25px;
  border-radius: 8px;
  transition: transform 0.2s;
  max-height: 4em;
  font-size: 0.8em;
}

.specific-grid div p {
  padding: 1em;
}

.specific-grid div:hover {
  transform: scale(1.05);
}

.activities-specifics {
  background-image: url("../images/activities-specifics.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.specific-border::before{
  background-image: linear-gradient(to top, transparent, black);
  content: " ";
  display: block;
  height: 10px;
  top: 0px;
  position: absolute;
  width: 100%;
}

.specific-border::after{
  background-image: linear-gradient(to bottom, transparent, black);
  content: " ";
  display: block;
  height: 10px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.eat-specifics {
  background-image: url("../images/eat-specifics.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.relax-specifics {
  background-image: url("../images/relax-specifics.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer {
  color: white;
}

@media (min-width: 780px) {
  /* Add your tablet-specific styles here */
  .teasers{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
  }

  .teaser-activities, .teaser-eat, .teaser-relax {
    width: 32%
  }

  .image-text {
    font-size: 1em;
  }

  .specifics {
    text-align: center;
    display: flex;
    margin: 0 auto;
  }

  .specific-grid {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .specific-grid div {
    flex: 1;
    background-color: #fff;
    border: 1px solid #000;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0 5px 25px;
    border-radius: 8px;
    transition: transform 0.2s;
    max-height: 4em;
    font-size: 0.8em;
  }
}

@media (min-width: 1200px) {

  .hero h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin: 0;
    -webkit-text-stroke: 1px black;
}

.image-text {
  font-size: 2em;
}

.teasers h2 {
  text-align: center;
  font-size: 1.8em;
  margin: 0.7em 0;
}

.specifics h2 {
  color: white;
  font-size: 2em;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

}

/* our-team page styling below */

.team-wrapper{
  background-color: black;
}

#our-team-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#article1, #article2, #article3, #article4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: blanchedalmond;
    border-radius: 3%;
    padding-bottom: 3%;
}

/* Adjustments to maintain aspect ratio for images */
.people-images {
    max-width: 75%;
    height: auto;
    display: block;
    margin-top: 5%;
}

@media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    #article1 {
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        padding: 5%;
    }

    #article1 > img {
        grid-row: 1 / span 2;
        margin: 0 auto;
        max-width: 90%
    }

    #article1 > p {
        margin-top: -60%;
    }
  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    #profile-group1 {
        display: flex;
        column-gap: 5%;
    }
  }

/* login form styling below */
/* search-deal page styling below */

.search-wrapper{
  background-color: black;
}

.search-text{
  color: white;
}
#search-deal-main{
    display:flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #search-form{
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
  }
  
  #search-cat-bar ul{
    display:flex;
    justify-content: center;
    border-bottom: solid 1px grey;
  
  }
  
  #search-cat-bar ul ui {
    width:7rem;
    padding:0.5em;
  }
  
  #search-cat-bar ul ui a{
    text-decoration: none;
    padding:0.5rem;
    color: white;
  }

  #search-cat-bar ul ui a.active{
    color: white;
    border-bottom: solid 2px blue;
  }
  
  #search-form-main{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }
  
  #search-form-main *{
    padding: 0.8rem 0rem;
  }

  .search-inputs{
    display:none;
    flex-direction: column;
    padding:0;
  }

  #search-flight-menu{
    display:flex;
    padding:0;
  }

  
  #search-form-main input{
    text-align: center;
    border:solid 1px grey;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding:0.5rem;
    margin: 0.2rem;
  }
  
  
  #search-form button{
    background-color: rgb(27, 101, 213);
    color: white;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 2rem;
  }
  
  #recent-searches{
    display:flex;
    flex-direction: row;
    height:7rem;
    overflow: hidden;
    position:relative;
  }
  
  #scroll-bar{
    display:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    z-index: 1;
    position: absolute;
  }
  
  .scroll-button {
    height:2rem;
    width:2rem;
    border-radius: 50%;
    border: solid 1px grey;
    background-color: white;
    font-size: 1rem;
  }
  
  .scroll-button:hover{
    background-color: rgb(190, 223, 234);
  }
  
  #recent-searches-row{
    display:flex;
    flex-direction: row;
    align-items: top;
    height:8.3rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .search-item{
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    white-space:wrap;
    align-items: center;
    gap: 1rem;
    height:7rem;
    width:17rem;
    border: solid 1px lightgrey;
    border-radius: 1.2rem;
    padding: 0rem 1rem;
    margin: 0rem 0.2rem;
    line-height: 1.5em;
  }
  
  .search-item img {
    width:2em;
  }
  
  #deal-container {
    display:grid;
    gap:0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: top;
  }
  
  .deal-item{
    display:flex;
    flex-direction: column;
    justify-content: left;
  }

  .deal-item *{
    margin: 0rem;
  }
  
  .deal-item img{
    width:100%;
    border-radius: 1rem;
  }
  
  .deal-item {
    font-size:1.2rem;
    color: white;
  }
  .deal-item p.label{
    font-size:1.5rem;
    color: white;
  }
  
  .deal-item p.price{
    font-size: 1.7rem;
    color: white;

  }
  .deal-item s{
    font-size: 70%;
    color: white;
  }

  @media screen and (min-width: 780px) {
    #search-form-main{
      flex-direction: row;
      justify-content: center;
    }

    .search-inputs {
      flex-direction: row;
    }

    #search-form-main button{
      width:7rem;
      flex-shrink: 0
    }
  
    #recent-searches:hover #scroll-bar{
      display:flex;
    }
  }

  /* footer page styling below */

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem 2rem 0 2rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.footer-middle{
    display: flex;
    flex-direction: column;
}

.footer-img{
    width: 6rem;
    height: 6rem;
}

.footer-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.footer-wrapper{
display: flex;
 justify-content: space-around;
}

.footer-title{
    color: white;
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.footer-text{
    color: white;
}

.social-title{
    color: white;
    font-size: 16px;
}

.social-icon{
    width: 2rem;
    height: 2rem;
}
.footer-last{
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.952), rgba(50, 50, 50, 0.884));

    width: 100%;
    align-items: center;
}
.footer-txt{
    margin: 0;
    padding-left: 1rem;
    height: 3rem;
    align-items: center;
    color: white;
}



  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */
.footer-wrapper{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    margin-top: 1.5rem;
   
}
.footer-title{
    font-size: 20px;
}

.footer-smtext{
    font-size: 20px;
    
}
.footer-text{
    font-size: 20px;
    margin-bottom: 0;
   
}
.footer-top{
    gap: 35px;
    justify-content: start;
}

.footer-img{
    width: 8rem;
    height: 8rem;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    gap: 4rem;
    
}
.footer-social{
    display: flex;
    gap: 1rem;
}




  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */

    .footer-container{
        display: flex;
        flex-direction: row;
        gap: 6rem;
        align-items: flex-start;
    }

    .footer-top{
        width: 40%;
    }

    .footer-wrapper{
        margin-top: 9px;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
  }