@charset "utf-8";
/* basic cross-page styling below, like body width
footer etc. */
/* CSS Reset */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* navigation bar styling below */


/* Styles for screens smaller than 320px (Mobile) DEFAULT*/

    /* Add your mobile-specific styles here */
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: blanchedalmond;
    }
    .nav-top{
        display: flex;
        justify-content: space-between;
    }
    
    
    .nav-list{
        list-style-type: none;
        width: 100%;
        padding: 0;
        text-align: center;
        align-content: center;
        display: none;

    }
    .nav-item_special{
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .show .nav-list{
        display: block;
    }

    .nav-link{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    .active-page {
        color: dimgrey;
    }
      
    .logo{
        height: 5rem;
    }
  
  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .nav-list{
        display: contents;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .nav-item_special{
        display: none;
    }
    .nav-top{
        display: inline;
    }

    .active-page {
        background-color: crimson;
        color: blanchedalmond;
    }

  }
  
  /* Styles for screens larger than or equal to 1200px (Desktop) */
  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    .nav-list{
        display: flex;
    }
  }


/* index page styling below */

  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */

  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
  }




/* about page styling below */


/* our-team page styling below */

#our-team-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: blanchedalmond;
    border-radius: 3%;
    padding-bottom: 3%;
}

/* Adjustments to maintain aspect ratio for images */
.people-images {
    max-width: 75%;
    height: auto;
    display: block;
    margin-top: 5%;
}

@media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    #article1 {
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        padding: 5%;
    }

    #article1 > img {
        grid-row: 1 / span 2;
        margin: 0 auto;
        max-width: 90%
    }

    #article1 > p {
        margin-top: -60%;
    }
  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    #profile-group1 {
        display: flex;
        column-gap: 5%;
    }
  }

/* login form styling below */