@charset "utf-8";
/* basic cross-page styling below, like body width
footer etc. */
/* CSS Reset */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* navigation bar styling below */


/* Styles for screens smaller than 320px (Mobile) DEFAULT*/

    /* Add your mobile-specific styles here */
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: blanchedalmond;
    }
    .nav-top{
        display: flex;
        justify-content: space-between;
    }
    
    
    .nav-list{
        list-style-type: none;
        width: 100%;
        padding: 0;
        text-align: center;
        align-content: center;
        display: none;

    }
    .nav-item_special{
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .show .nav-list{
        display: block;
    }

    .nav-link{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    .active-page {
        color: dimgrey;
    }
      
    .logo{
        height: 5rem;
    }
  
  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .nav-list{
        display: contents;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .nav-item_special{
        display: none;
    }
    .nav-top{
        display: inline;
    }

    .active-page {
        background-color: crimson;
        color: blanchedalmond;
    }

  }
  
  /* Styles for screens larger than or equal to 1200px (Desktop) */
  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    .nav-list{
        display: flex;
    }
  }


/* index page styling below */

  /* Styles for screen 780px (Tablet) */
  @media (min-width: 780px) {
    /* Add your tablet-specific styles here */

  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
  }




/* about page styling below */


/* our-team page styling below */

#our-team-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: blanchedalmond;
    border-radius: 3%;
    padding-bottom: 3%;
}

/* Adjustments to maintain aspect ratio for images */
.people-images {
    max-width: 75%;
    height: auto;
    display: block;
    margin-top: 5%;
}

@media (min-width: 780px) {
    /* Add your tablet-specific styles here */
    #article1 {
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        padding: 5%;
    }

    #article1 > img {
        grid-row: 1 / span 2;
        margin: 0 auto;
        max-width: 90%
    }

    #article1 > p {
        margin-top: -60%;
    }
  }


  @media (min-width: 1200px) {
    /* Add your desktop-specific styles here */
    #profile-group1 {
        display: flex;
        column-gap: 5%;
    }
  }

/* login form styling below */
#search-flight-main{
    display:flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #search-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.2rem;
  }
  
  #search-cat-bar ul{
    display:flex;
    justify-content: center;
    border-bottom: solid 1px grey;
  
  }
  
  #search-cat-bar ul ui {
    width:7rem;
    padding:0.5em;
  }
  
  #search-cat-bar ul ui a{
    text-decoration: none;
    color: black;
  }
  
  #search-form-main{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }
  
  #search-form-main *{
    padding: 0.8rem 0rem;
  }
  
  #search-form-main input{
    text-align: center;
    border:solid 1px grey;
    border-radius: 0.5rem;
  }
  
  
  #search-form button{
    background-color: rgb(27, 101, 213);
    color: white;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 2rem;
  }
  
  #recent-searches{
    display:flex;
    flex-direction: row;
    height:7.2rem;
    overflow: hidden;
    position:relative;
  }
  
  #scroll-bar{
    display:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    z-index: 1;
    position: absolute;
  }
  
  .scroll-button {
    height:2rem;
    width:2rem;
    border-radius: 50%;
    border: solid 1px grey;
    background-color: white;
    font-size: 1rem;
  }
  
  .scroll-button:hover{
    background-color: rgb(190, 223, 234);
  }
  
  #recent-searches-row{
    display:flex;
    flex-direction: row;
    align-items: top;
    height:8.3rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .search-item{
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    white-space:wrap;
    align-items: center;
    gap: 1rem;
    height:7rem;
    width:17rem;
    border: solid 1px lightgrey;
    border-radius: 1.2rem;
    padding: 0rem 1rem;
    margin: 0rem 0.2rem;
    line-height: 1.5em;
  }
  
  .search-item img {
    width:2em;
  }
  
  #deal-container {
    display:grid;
    gap:0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center;
  }
  
  .deal-item{
    display:flex;
    flex-direction: column;
    justify-content: left;
  }

  .deal-item *{
    margin: 0rem;
  }
  
  .deal-item img{
    width:100%;
    border-radius: 1rem;
  }
  
  .deal-item p.label{
    font-size:1.2rem;
  }
  
  .deal-item p.price{
    font-size: 1.7rem;
  }
  .deal-item s{
    font-size: 70%;
  }
  .deal-item p.footer{
    font-size:30%
  }

  @media screen and (min-width: 780px) {
    #search-form-main{
      flex-direction: row;
      justify-content: center;
    }
    #search-form-main input{
      width:33.33%;
    }
  
    #search-form-main button{
      width:7rem;
    }
  
    #recent-searches:hover #scroll-bar{
      display:flex;
    }
  }